* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/* Common styles */

body {
    font-family: 'PT Sans', sans-serif;
}

/* Setting the background image */

.background-image {
    background: url("../images/bird.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.8;
    z-index: -999;
    display: block;
    width: 100%;
    height: 100%;
}

/* Header styles */

h1 {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
.title {
    background-image: url('../images/transparent.jpg');
    text-align: center;
    margin: 0 auto;
    padding-bottom: 2rem;
    padding-top: 2rem;
    height: 8rem;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 600;
    color: #D0F488;
    letter-spacing: 0.12rem;
    text-shadow: 2px 2px 7px #01DFA5;
}

/* Wrapper container styles */

.wrapper {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    background-image: url('../images/transparent.jpg');
    border: 1px solid #aaa;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    margin-top: 40rem;
    margin-bottom: 6rem;
    padding: 1.5rem 0;
}
.wrapper .intro {
    color: #81DAF5;
    width: 90%;
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin: 0 auto;
}
.wrapper .intro p {
    text-align: center;
    font-size: 1.25rem;
    padding: 0.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
}

/* Animation styles for the image slider */

.image-slider {
    padding: 2rem;
}
.image-slider .slick-slide {
    padding: 1.5rem;
}
.image-slider div img {
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    -webkit-box-shadow: 0px 0px 32px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 32px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 32px 6px rgba(0, 0, 0, 0.75);
}
.slick-prev {
    left: -68px;
}
.slick-next {
    right: -48px;
}
.slick-prev::before {
    content: url('../images/rsz_previous-button.png');
}
.slick-next::before {
    content: url('../images/rsz_next-button.png');
}

/* Play Now CSS */

.call-to-action {
    margin-top: 5rem;
}
.call-to-action img {
    width: 30%;
    padding-bottom: 3rem;
}
.call-to-action h2 {
    color: #fff;
    font-size: 2.5rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/* Footer CSS */

.social {
    background-color: #D0F488;
    /*#BEF781;*/
    height: 10rem;
    text-align: center;
}
.social h3 {
    color: #2E2EFE;
    font-size: 1.4rem;
    padding-top: 1.5rem;
}
.social-icons li {
    display: inline-block;
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

/*desktop first approach*/


/*ipad lanscape / small laptop*/

@media only screen and (max-width: 1024px) {
    .title {
        font-size: 2.15rem;
    }
    .wrapper {
        width: 100%;
        border: none;
        -webkit-border-radius: 0rem;
        -moz-border-radius: 0rem;
        border-radius: 0rem;
    }
    .call-to-action img {
        width: 35%;
    }
}

/*ipad potrait*/

@media only screen and (max-width: 768px) {
    .title {
        font-size: 2rem;
    }
    .wrapper .intro p {
        font-size: 1.18rem;
        line-height: 1.5rem;
        letter-spacing: 0.06rem;
    }
    .call-to-action img {
        width: 40%;
    }
    .call-to-action h2 {
        font-size: 2.25rem;
    }
    .social h3 {
        font-size: 1.25rem;
        padding-top: 1.25rem;
    }
    .social-icons li {
        font-size: 2.25rem;
        margin-top: 1.5rem;
    }
}

/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    .title {
        font-size: 2rem;
    }
    .wrapper .intro p {
        font-size: 1.08rem;
        line-height: 1.5rem;
        letter-spacing: 0.05rem;
    }
    .call-to-action img {
        width: 50%;
    }
    .call-to-action h2 {
        font-size: 2rem;
    }
}

/*iPhone portrait*/

@media only screen and (max-width: 320px) {
    .title {
        font-size: 1.5rem;
    }
    .call-to-action img {
        width: 60%;
    }
    .call-to-action h2 {
        font-size: 1.75rem;
    }
    .social h3 {
        font-size: 1.15rem;
    }
    .social-icons li {
        font-size: 2.15rem;
    }
}
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .background-image {
        background: url("../images/bird-2x.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}
@media (-webkit-min-device-pixel-ratio: 3),
(min-resolution: 192dpi) {
    .background-image {
        background: url("../images/bird-3x.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}
